

.theme-light{
    --bg-color: #fffffc;
    --font-color: black;
    --div-color: #007FFF;
}

.theme-dark{
    --bg-color: #212529;
    --font-color: #fffffc;
    --div-color: #011627;
}


body{
    background-color: var(--bg-color) ;
    color: var(--font-color);
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--div-color);
    margin: auto;
    width: auto;
    padding: 1em;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
}

.target.container{
    width: 500px;
}
.switch.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 300px;
    font-size: 30px;
}

.maintitle{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
}
.title{
    font-weight: bold;
}
.chartdiv{
   display: flex;
   width: 1080px;
   margin: auto;
   justify-content: center;
}

.firstcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1920px;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 2em;
}

.secondcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1360px;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 2em;
}

.thirdcontainer{
    display: flex;
    border-radius: 10px;
    background-color: var(--div-color);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 1280px;
    height: auto;
    margin:auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 0.5em;
}
.subcontainer{
    display: flex;
    border-radius: 10px;
    background-color: var(--div-color);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 400px;
    height: auto;
    margin:auto;
    padding: 0.5em;
}

.stats{
    display: flex;
    border-radius: 10px;
    background-color: var(--div-color);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 1280px;
    height: auto;
    margin:auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 0.5em;
}

.reset.button.container{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
}

input[type= number], textarea{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}

button{
    width: 10%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    font-family: 'Roboto Slab', serif;
    font-size: large;
    margin: auto;
}

input{
    width: auto;
}

select{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
}

.slider.radius {
    border-radius: 34px;
}
  
.slider.radius:before {
    border-radius: 50%;
}
  

@media only screen  and  (min-width: 412px) and (max-width: 1200px){
    .firstcontainer{
        flex-direction: column;
        width: auto;
        justify-content: space-between;
        gap: 5em;
    }

    .secondcontainer{
        flex-direction: column;
        width: auto;
        justify-content: space-between;
        gap: 5em;
    }

    .header{
        justify-content: center;
        gap: 1em;
    }

    .chartdiv{
        width: 400px;
    }
    .target.container{
        width: 400px;
    }

    select , button, .switch.container, .thirdcontainer,.stats {
        width: auto;
    }

}
